#logo {
	border-right: solid black 1px;
    padding:0px 10px 0px 0px;
    text-shadow: 0 0 3px black;
    color: #4298f5;
}
hr {
    background-color: lightgray;
    height: 1px;
    border: 0;
}

.saved_colors {
    cursor: pointer;
    height: 25px;
    width: 25px;
    font-family: Open Sans;
    background-color: #4298f5;
    border: 2px black solid;
    color: black;
    border-radius: 15px;   
    box-sizing: border-box;
    box-shadow: 0 0 3px black;
}

.button_green {
    cursor: pointer;
    font-size: 16px;
    font-family: Open Sans;
    background-color: #f1f1f1;
    border-bottom: 3px solid black;
    border: 1px lightgray solid;
    color: black;

}

.button_green:hover {
    background-color: #8bd602;
}

.button_purple {
    cursor: pointer;
    font-size: 16px;
    font-family: Open Sans;
    background-color: purple;
    border-bottom: 3px solid black;
    border: 1px lightgray solid;
    color: white;
}

.button_purple:hover {
    background-color: black;
}

#colorSelect {
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

.wrap {
    width: 1500px;
    height: 1000px;
    background: black;
    margin:40px 0px 150px 0px;
    padding:0px 0px 0px 0px;
    border: 2px black solid;
}

.wrap div {
    float:left;
    width:1.25%;
    height:2%;
    color: yellow;
    background: black;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    cursor: crosshair;
    box-sizing: border-box;
}

.wrap div:nth-child(odd) {
    font-size: 10px;
}

#drawing {
	background:#2098df;
}

#personalised {
    width:40px;
}

h1 {
	color: black;
	background-color: white;
	text-align: center;
    margin:0px 0px 10px 0px;
    padding: 15px 0px 10px 0px;
    border-bottom: 1px solid lightgray;	
}

li {

	padding: 0 0 10px 0;
    margin:0px 0px 0px 10%;
	font-size: 125%;
}

body {
	background-color: #fafafa;
	font-family: Open Sans;
	height: 100%;
    overflow: auto;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}

#pagebottom {
    color: black;
    height: 50px;
    background-color: white;
    text-align: center;
    margin:150px 0px 0px 0px;
    padding: 15px 0px 15px 0px;
    border-top: 1px solid lightgray;
    bottom: 0px;
    width: 100%;
}
